.navbar.navbar-expand-lg.bg-body-tertiary{
    background-color: #d91c1c;
    box-shadow: 4px 4px 4px rgba(220, 220, 220, 0.0);
}

.photo-user{
}

.container-sorties {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Aligne horizontalement les conteneurs au centre */
}

.sortie{
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
    border: 2px solid #b0e0ef;
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
    width: 280px;
}

.infosSortie {
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
    border: 2px solid #b0e0ef;
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
    width: 400px;
}

.nbParticipants{
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
    border: 2px solid #b0e0ef;
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
    width: 400px;
}

.profil{
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
    border: 2px solid #b0e0ef;
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
    width: 350px;
}