{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Ajouter une sortie
{% endblock %}

{% block body %}
    <div>
        {{ form_start(sortieForm) }}
        {{ form_widget(sortieForm) }}
        <button class="">{% block buttonLabel %}Ajouter une sortie{% endblock %}</button>
        {{ form_end(sortieForm) }}
    </div>
{% endblock %}

