{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Ajouter une ville
{% endblock %}

{% block body %}
    <div class="ShowUser">

        {{ form_start(villeForm)}}<br>
        {{ form_widget(villeForm)}}<br>
        <button class="btn btn-outline-primary">{% block buttonLabel %}Ajouter une ville{% endblock %}</button>
        {{ form_end(villeForm)}}
    </div>
{% endblock %}

