{% form_theme form 'vues/theme/form_theme.html.twig' %}

<h2>{% block h2 %}{% endblock %}</h2>

<div>
    {{ form_start(form)}}
    {{ form_widget(form)}}
    <a class="btn btn-outline-primary">{% block buttonLabel %}{% endblock %}</a>
    {{ form_end(form)}}
</div>